/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

// Global font setting on the body
body {
  font-family: "Source Serif Pro";
  font-weight: normal;
  overflow-x: hidden;
}
